/*Mobile (0 - 480px)*/

@media (max-width: 480px) {
  body {
    background-color: rgba(211, 14, 73, 0.952);
    font-size: 1rem;
  }

  header {
    background-color: rgba(158, 70, 96, 0.952);
    font-size: 1rem;
  }

  main {
    background-color: rgba(82, 27, 48, 0.952);
    font-size: 1rem;
  }

  footer {
    background-color: rgba(39, 17, 23, 0.952);
    font-size: 1rem;
  }
}

/*Tablet (481px - 768px)*/

@media (min-width: 481px) and (max-width: 768px) {
  body {
    background-color: rgb(241, 10, 203);
    font-size: 2rem;
  }

  header {
    background-color: rgba(134, 12, 114, 0.897);
    font-size: 2rem;
  }

  main {
    background-color: rgb(90, 14, 77);
    font-size: 2rem;
  }

  footer {
    background-color: rgb(51, 6, 44);
    font-size: 2rem;
  }
}

/*Laptops (769px - 1279px)*/

@media (min-width: 769px) and (max-width: 1279px) {
  body {
    background-color: rgb(241, 122, 10);
    font-size: 3rem;
  }

  header {
    background-color: rgb(168, 93, 23);
    font-size: 3rem;
  }

  main {
    background-color: rgb(85, 46, 10);
    font-size: 3rem;
  }

  footer {
    background-color: rgb(53, 28, 4);
    font-size: 3rem;
  }
}

/*Desktop (1280px +)*/

@media (min-width: 1280px) {
  body {
    background-color: rgb(77, 15, 192);
    font-size: 4rem;
  }

  header {
    background-color: rgb(54, 6, 141);
    font-size: 4rem;
  }

  main {
    background-color: rgb(41, 5, 107);
    font-size: 4rem;
  }

  footer {
    background-color: rgb(19, 2, 51);
    font-size: 4rem;
  }
}
