* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #a1a0d6;
  color: #57073c;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #af1085;
  margin-bottom: 20px;
}

p {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
}

section {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 10px;
  font-weight: 400;
}

ul li a {
  display: block;
  text-decoration: none;
  color: #550655;
  background: #e9ecef;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

ul li a:hover {
  background: #bb65af;
  color: #fff;
}
